.nav-link {
    text-decoration: "none" !important;
    color: #fff;
    font-size: 24;
    margin: 0 10px;
    padding: 10px;
    background-color: rgba(62, 90, 221, 0.24);
    &:hover {
        text-decoration: "none" !important;
        color: #fff;
        background-color: rgba(62, 90, 221, 1)
    }
}